<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ form(form, {'action': path('message_add') }) }}
        {# <form action="/messages/add" method="post">
          <div class="form-group">
            <label for="username" class="col-form-label">Username:</label>
            <input type="text" class="form-control" id="username" required>
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input class="form-control" type="email" id="email" required="" oninvalid="this.setCustomValidity('Please Enter valid email')" oninput="setCustomValidity('')"></input>
          </div>
          <div class="form-group">
            <label for="homepage" class="col-form-label">Homepage:</label>
            <input type="url" class="form-control" id="homepage" oninput="setCustomValidity('')">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Text:</label>
            <textarea class="form-control" id="message-text" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send message</button>
          </div>
        </form> #}
      </div>
    </div>
  </div>
</div>