<div class="modal" id="deleteMessageModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you actually want to delete this message?</p>
      </div>
      <div class="modal-footer">
        <form method="GET" action="{{ path('message_delete', {'id': id}) }}">
        <input type="submit" class="btn btn-primary" value="Yes"/>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>