{% if files %}
    <style>
        .image-container {
            display: flex;
            align-items: flex-start; /* Align items to the top */
            position: relative;
        }
        .image-container img {
            display: flex;
            width: 250px;
            height: 200px;
            float: left;
            margin-left: 15px;
        }
        .custom-button {
            background-color: rgb(248 250 252); /* Set your desired background color */
            border-color: rgb(248 250 252); /* Optional: Change the border color to match the background */
            color: rgb(248 250 252); /* Optional: Change the text color to make it readable on the new background */
        }
        #remove-image-link {
            cursor: pointer;
        }
    </style>
    <div class="form-group col-md-6">
        {# <label for="message-text" class="col-form-label">Files: </label> #}
        <div class="image-container">
        {% for file in files %}
            {% if file.filename %}
                {% set imageFolder = 'images/message_images/' %}
                {% set imageName = file.filename %}
                <img src="{{ asset(imageFolder ~ imageName) }}" id="image"/>
                {% if delete_image %}
                    <div class="circle-icon">
                        <a href="{{ path('file_delete', {"id": file.id})}}" id="remove-image-link">
                            <i class="fa-regular fa-circle-xmark fa-2xl" style="color: #e72323"></i>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endif %}